html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}
