:host {
  display: grid;
  grid-gap: 0;
  grid-template:
    "  list                  .      player               " auto
    /  minmax(200px, 1.5fr)  0.5fr  minmax(250px, 2.5fr)
  ;
  
  height: 100vh;
  overflow: hidden;
  perspective: 70em;

  // Give the background some variety, so the holes in the filmstrip
  // border will be a little more obvious.
  background: linear-gradient(to bottom right, cornsilk, lightskyblue);
}

eva-video-player  { grid-area: player; }

eva-video-list {
  grid-area: list;
  height: 130vh;
  display: block;

  overflow-y: auto;

  background: black;

  padding: 0;
  padding-top: 10vh;
  padding-bottom: 10vh;

  // Only extend the background to the padding box (instead of all
  // the way to the border), so the transparent gaps in the border
  // image will be visible.
  background-clip: padding-box;

  // Give the left and right borders a size, so the border image
  // has room to appear.
  border-left: 15px solid;
  border-right: 15px solid;

  // Use a repeating linear gradient to flip the border image
  // between black and transparent, to create the "holes" in the
  // filmstrip edges.
  border-image: repeating-linear-gradient(
    black,
    black 15px,
    transparent 15px,
    transparent 30px
  ) 1;

  box-shadow:
    // Add the outermost edge of the filmstrip with an unblurred,
    // solid black shadow.
    0 0 0 15px black,

    // Give the filmstrip a fuzzy drop shadow.
    -20px 15px 10px 0 rgba(0, 0, 0, 0.33),
  ;
  
  transform:
    rotate(-5deg)
    translate(85px, -15vh)
    rotateY(30deg)
  ;

  /* Hide scrollbar on Firefox */
  scrollbar-width: none;
}

/* Hide scrollbar on Chrome, Safari */
eva-video-list::-webkit-scrollbar {
  display: none;
}
