<header>
  <h1>Full Viewport Workshop</h1>
</header>

<nav>
  <a routerLink="/">
    Home
  </a>

  <a routerLink="/resources">
    Resources
  </a>

  <a routerLink="/about">
    About
  </a>

</nav>

<main>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent hendrerit
  tempus adipiscing. Nullam vitae nibh ut arcu volutpat porta. Ut tristique
  molestie mollis. In at erat a ante molestie molestie. Suspendisse varius
  arcu nec augue condimentum semper. Vestibulum malesuada pulvinar mi,
  fermentum elementum eros adipiscing dignissim. Vestibulum at odio risus. Ut
  ipsum erat, volutpat sed cursus nec, blandit ac diam. Integer tincidunt
  sollicitudin eros, sit amet vulputate justo sollicitudin malesuada. Nulla
  dapibus dictum dolor id semper. Phasellus pretium dapibus massa quis
  auctor.

</main>

<footer>

  <a target="_blank" href="https://www.ng-conf.org/">
    ng-conf
  </a>

  <a target="_blank" href="https://angular.io/">
    Angular
  </a>

  <a target="_blank" href="https://www.google.com/">
    Google
  </a>

</footer>
