<div class="sandbox">

  <div class="heading">
    Happy Little Sandbox
  </div>

  <div class="content">
    <p>
      You're meant to have fun in life. You gotta think like a tree.
      Automatically, all of these beautiful, beautiful things will happen. Only
      think about one thing at a time. As long as you believe.
    </p>

    <p>
      You can do anything here - the only pre-requisite is that it makes you
      happy. The secret to doing anything is believing that you can do it.
      Anything that you believe you can do strong enough, you can do. Anything.
      Let's do that again.
    </p>

    <p>
      It is a lot of fun. There's nothing wrong with having a tree as a friend.
      Maybe there's a happy little Evergreen that lives here. I can't think of
      anything more rewarding than being able to express yourself to others
      through painting. Only eight colors that you need.
    </p>

    <p>
      We artists are a different breed of people. We're a happy bunch. Let's put
      some highlights on these little trees. The sun wouldn't forget them.
      Sometimes you learn more from your mistakes than you do from your
      masterpieces.
    </p>

    <p>
      If you don't like it - change it. It's your world. A tree needs to be your
      friend if you're going to paint him. You can spend all day playing with
      mountains. Just make little strokes like that. For the lack of a better
      word I call them hangy downs. It's a super day, so why not make a beautiful
      sky?
    </p>
  </div>

  <img class="bob" src="/assets/misc/bob.jpg">

  <h2 class="footer">
    We don't make mistakes, just happy little accidents.
  </h2>

</div>
