:host {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  grid-gap: 20px;

  min-height: 100vh;
  place-content: center;
  padding: 20px;
  font-size: 150%;
  background-color: black;
  background-image: url('/assets/misc/starfield.png');
  background-size: contain;
}

a {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 20px;
  place-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 20px black;
}

a:hover {
  color: black;
  background-color: cornsilk;
  box-shadow: 0 0 20px 5px cornsilk;
  text-shadow: none;
}
