<div class="info">
  <h1>Spacewalk</h1>
  <h2>
    Bill Odom
    &bull; @wnodom
    &bull; bill@billodom.com
  </h2>
</div>

<img class="benny" src="/assets/misc/benny.png">

<div class="scene">
  <div class="wrap">
      <div class="wall wall-right"></div>
      <div class="wall wall-left"></div>   
      <div class="wall wall-top"></div>
      <div class="wall wall-bottom"></div> 
      <div class="wall wall-back"></div>    
  </div>
  <div class="wrap">
      <div class="wall wall-right"></div>
      <div class="wall wall-left"></div>   
      <div class="wall wall-top"></div>
      <div class="wall wall-bottom"></div>   
      <div class="wall wall-back"></div>    
  </div>
</div>
