:host {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 20px;
  align-items: start;
  padding: 20px;
  background-color: cornsilk;
}

img {
  width: 100%;
  outline: 3px solid cornsilk;
}

[title=Mercury] {
  grid-row-end: -1;
  grid-column-end: -1;
}

[title=Earth] {
  grid-row: 4;
  grid-column: 4;
  z-index: 1;
}

[title=Jupiter] {
  grid-row: 3 / span 2;
  grid-column: span 2;
}

[title=Saturn] {
  grid-row: 2 / span 2;
  grid-column: 3 / span 3;
}
