<h2>About this app</h2>

<p>
  This is a set of examples I
  (<a target="_blank" href="http://www.billodom.com/">Bill Odom</a>)
  created for use in workshops and presentations on building
  web applications using modern CSS (especially CSS Grid).
  
  You can find the latest version here:
</p>

<blockquote>
  <a target="_blank" href="https://github.com/wnodom/spacewalk">
    Spacewalk on Github
  </a>
</blockquote>

<hr />

<h3>Image and Data Sources</h3>

<ul>
  <li>
    <a target="_blank" href="https://www.spacetelescope.org/copyright/">
      Hubble Space Telescope
    </a>
  </li>

  <li>
    <a target="_blank" href="http://hubblesite.org/about_us/copyright.php">
      Hubblesite
    </a>
  </li>

  <li>
    <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_female_spacefarers">
      List of Female Spacefarers
    </a>
  </li>

  <li>
    <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_gravitationally_rounded_objects_of_the_Solar_System">
      List of Gravitationally-Rounded Objects of the Solar System
    </a>
  </li>

  <li>
    <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_planetary_nebulae">
      List of Planetary Nebulae
    </a>
  </li>

  <li>
    <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_women_astronomers">
      List of Women Astronomers
    </a>
  </li>

  <li>
    <a target="_blank" href="https://www.jpl.nasa.gov/visions-of-the-future">
      NASA/JPL Visions of the Future Poster Series
    </a>
  </li>

  <li>
    <a target="_blank" href="https://en.wikipedia.org/wiki/Pale_Blue_Dot">
      <em>Pale Blue Dot</em> by Carl Sagan
    </a>
  </li>

  <li>
    <a target="_blank" href="https://opengameart.org/content/seamless-space-stars">
      Seamless stars background
    </a>
  </li>
  
</ul>
