:host {
  padding: 20px;
  display: grid;

  min-height: 100vh;
  place-content: center;
  
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 20px;
}

div {
  display: grid;
  place-content: center;
  font-family: sans-serif;
  font-size: 200%;
  border: 3px solid darkgreen;
  border-radius: 10px;
  background-color: rgba(0, 100, 0, 0.25);
}

[title="3"] {
  background: lightblue;
  grid-row: 3;
  grid-column: 1 / span 3;
}

[title="4"] {
  background: pink;
  grid-row: span 2;
}

[title="5"] {
  background: cornsilk;
  grid-row-end: -1;
  grid-column-end: -1;
}

[title="7"] {
  grid-column: 1;
  grid-row: 1 / -1;
}

/*

:host > * {
  outline: 3px solid red;
  outline-offset: 5px;
}

*/


















[title="9"] {
  border: unset;
  color: transparent;
  background: transparent;
  grid-row-end: -2;
  grid-column-end: -2;
}
