<h2>Resources</h2>

<ul>
  <li>
    <a target="_blank" href="http://jensimmons.com/">Jen Simmons</a>
    <ul>
      <li><a target="_blank" href="https://www.youtube.com/layoutland">Layout Land</a></li>
      <li><a target="_blank" href="http://labs.jensimmons.com/">Experimental Labs</a></li>
    </ul>
  </li>

  <li>
    <a target="_blank" href="https://rachelandrew.co.uk/">Rachel Andrew</a>
    <ul>
      <li><a target="_blank" href="https://gridbyexample.com/">Grid by Example</a></li>
      <li><a target="_blank" href="http://csslayout.news/">CSS Layout News</a></li>
    </ul>
  </li>

  <li>

    <a target="_blank" href="https://developer.mozilla.org/">
      Mozilla Developer Network (MDN)
    </a>

    <ul>
      <li>
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout">
          CSS Grid Layout
        </a>
      </li>
      <li>
        <a target="_blank" href="https://mozilladevelopers.github.io/playground/css-grid">
          CSS Grid Playground
        </a>
      </li>
    </ul>
  </li>

  <li>
    <a target="_blank" href="https://caniuse.com/">Can I Use</a>
    <ul>
      <li>
        <a target="_blank" href="http://caniuse.com/#feat=css-grid">
          CSS Grid Layout
        </a>
      </li>
      <li>
        <a target="_blank" href="https://caniuse.com/#feat=viewport-units">
          Viewport Units
        </a>
      </li>
      <li>
        <a target="_blank" href="https://caniuse.com/#feat=transforms2d">
          2D Transforms
        </a>
      </li>
      <li>
        <a target="_blank" href="https://caniuse.com/#feat=transforms3d">
          3D Transforms
        </a>
      </li>
    </ul>
  </li>

  <li>
    <a target="_blank" href="https://css-tricks.com/">CSS Tricks</a>
    <ul>
      <li><a target="_blank" href="https://css-tricks.com/snippets/css/complete-guide-grid/">A Complete Guide to Grid</a></li>
      <li><a target="_blank" href="https://css-tricks.com/tag/css-grid/">Articles tagged with 'css-grid'</a></li>
    </ul>
  </li>

  <li>
    <a target="_blank" href="http://gedd.ski/">Dave Geddes</a>
    <ul>
      <li><a target="_blank" href="https://www.gridcritters.com/">CSS Grid Critters</a></li>
      <li><a target="_blank" href="https://flexboxzombies.com/p/flexbox-zombies">Flexbox Zombies</a></li>
    </ul>
  </li>

  <li>
    <a target="_blank" href="https://codepip.com/">codepip</a>
    <ul>
      <li><a target="_blank" href="https://cssgridgarden.com/">CSS Grid Garden</a></li>
      <li><a target="_blank" href="http://flexboxfroggy.com/">Flexbox Froggy</a></li>
    </ul>
  </li>

  <li>
    <a target="_blank" href="http://www.gridtoflex.com/">
      Una Kravets - Grid to Flex
    </a>
  </li>

  <li>
    <a target="_blank" href="https://cssgrid.io/">
      Wes Bos - CSS Grid free video course
    </a>
  </li>

  <li>
    <a target="_blank" href="https://egghead.io/courses/build-complex-layouts-with-css-grid-layout">
       Rory Smith - egghead.io - Build Complex Layouts with CSS Grid Layout
    </a>
  </li>

  <li>
    <a target="_blank" href="https://codepip.com/">codepip</a>
    <ul>
      <li><a target="_blank" href="https://cssgridgarden.com/">CSS Grid Garden</a></li>
      <li><a target="_blank" href="http://flexboxfroggy.com/">Flexbox Froggy</a></li>
    </ul>
  </li>

</ul>
