<form>
  <label>Name:</label>
  <input type="text" placeholder="First">
  <input type="text" placeholder="Middle">
  <input type="text" placeholder="Last">
  <input type="text" placeholder="Suffix">

  <label>Address:</label>
  <input type="text" placeholder="Address line 1">
  <input type="text" placeholder="Address line 2">
  <input type="text" placeholder="City">
  <input type="text" placeholder="State / Province">
  <input type="text" placeholder="Zip / Postal Code">
  <input type="text" placeholder="Country">

  <label>Phones:</label>
  <input type="text" placeholder="Mobile">
  <input type="text" placeholder="Home">
  <input type="text" placeholder="Work">
</form>
