:host {
  display: block;
  padding: 20px;
  font-size: 1.5rem;
}

iframe {
  aspect-ratio: 16/9; 
  width: 100%;

  margin-bottom: 25px;
  border: 2px solid black;
  box-shadow:
    10px 10px 10px 0 rgba(0, 0, 0, 0.33),
    0 0 10px rgba(0, 0, 0, 0.33)
  ;
}

.instructions {
  padding-top: 20vh;
}

.video-title,
.video-author {
  text-align: right;
  font-weight: bold;
}

.video-author:before {
  font-style: italic;
  font-weight: normal;
  content: 'from ';
}

